<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Color Rush - Extract Colors from Any Image! 🎨</title>
    <meta
      name="description"
      content="Instant Color Palette from Your Image! Upload, extract, and download in seconds! 🚀"
    />
    <meta
      name="keywords"
      content="color palette, image colors, extract colors, color picker, design tool"
    />
    <meta name="author" content="Ivanglpz" />

    <meta
      property="og:title"
      content="Color Rush - Extract Colors from Any Image! 🎨"
    />
    <meta
      property="og:description"
      content="Instant Color Palette from Your Image! Upload, extract, and download in seconds! 🚀"
    />
    <meta property="og:image" content="/preview-image.png" />
    <meta property="og:type" content="website" />

    <meta
      name="twitter:card"
      content="Instant Color Palette from Your Image! Upload, extract, and download in seconds! 🚀"
    />
    <meta
      name="twitter:title"
      content="Color Rush - Extract Colors from Any Image! 🎨"
    />
    <meta
      name="twitter:description"
      content="Instant Color Palette from Your Image! Upload, extract, and download in seconds! 🚀"
    />
    <meta name="twitter:image" content="/preview-image.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/normalize.css" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  * {
    font-family: "Inter", serif;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0e;
  }
</style>
